.body {
    width: 100vw;
    height: 100vh;
    background-image: url("../public/assets/crew/background-crew-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow-x: hidden;
    padding-top: 5vh;
}

@media (max-width: 500px) {
    .body {
        background-image: url("../public/assets/crew/background-crew-mobile.jpg");
        height: fit-content;
        padding-top: 15%;
        align-items: center;
        justify-content: center;
    }
}
