.body {
    width: 70vw;
    height: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
    margin-bottom: 110px;
}

.whereToBody {
    height: fit-content;
    width: 30%;
}

.pick,
.location,
.tourInfo,
.avgDistance,
.avgDistanceNum,
.etaTime,
.etaTimeNum {
    color: white;
    font-family:  Courier, monospace;
    margin-bottom: 30px;
}

.location {
    font-size: 6rem;
    font-weight: lighter;
    margin-bottom: 0;
}

.tourInfo{
    line-height: 30px;
    letter-spacing: 2px;
}

.divider {
    width: 100%;
    height: 2px;
    background: white;
    margin-bottom: 30px;
}

.etaInfo {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.avgDistanceNum, .etaTimeNum  {
    font-weight: lighter;
    margin: 0px 5px;
    width: 25vh;
}

.moons {
    width: 100%;
    height: 100%
}

.btnContainer {
    display: flex;
    justify-content: space-between;
    
}

.btns {
    color: white;
    font-family:  Courier, monospace;
    background: none;
    border: none;
    margin-bottom: 15px;
    font-size: 1rem;
}