.body {
    width: 100%;
    height: 100vh;
    background-image: url("../public/assets/destination/background-destination-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-items: center;
    align-items: flex-end;
    padding-top: 3vh;
}

@media (max-width) {
    .body {
        background-image: url("../public/assets/destination/background-destination-mobile.jpg");
        height: fit-content;
    }
}

