.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    top: 0;
    left: 0;
    position: fixed;
    padding: 30px 0px;
    padding-left: 60px;
    width: 100%;
    
}

.logo {
    margin-left: 20px;
}

.navLinkContainer {
    background-color: rgba(128, 128, 128, 0.2);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    width: 45vw;
    backdrop-filter: blur(20px);
    height: 6vw;
    padding: 0% 2%;
}

.link {
    color: white;
    list-style-type: none;
    text-decoration: none;
    margin: 0px 20px;
    font-size: 20px;
    font-family:  Courier, monospace;
}

.link:hover {
    border-bottom: 1px solid white;
    transform-origin: bottom right;
}

.linkRoutes {
    text-decoration: none;
}