.home {
  background-image: url("../public/assets/home/background-home-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  overflow-x: hidden;
}



.body {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
  width: 100vw;
}


.bodyContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100vw;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 40vw;
  margin-left: 10vh;
}

.textHeader, .textLogo, .textInfo, .btn {
  color: white;
  font-family:  Courier, monospace;
  margin-bottom: 35px;
  letter-spacing: 3px;
}

.textHeader {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.textLogo {
  text-align: center;
  font-size: 8rem;
  font-weight: 100;
  height: 12vh;
  margin-bottom: 30px;
}

.textInfo {
  width: 90%;
  font-size: 1.6rem;
  line-height: 35px;
  letter-spacing: normal;
  height: 15vh;
}

.btn {
  background: white;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  color: black;
  letter-spacing: 2px;
  font-size: 2rem;
  border: 1px solid pink;
  margin-right: 30vh;
  margin-bottom: 20px;
  margin-bottom: 0;
}

@media (max-width: 1500px) {
  
  .bodyContainer {
    margin-bottom: 0;
    align-items: flex-end;
    padding-bottom: 5%;
  }

  .textContainer {
    width: fit-content;
    height: fit-content;
    line-height: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
  }

  .textHeader{
    font-size: 1.5em;
    margin: 0;
    width: 100%;
  } 
  
  .textLogo {
    font-size: 2em;
    margin-bottom: 20px;
  } 
  
  .textInfo {
    font-size: 1em;
    width: 35vw;
  } 
  
  .btn {
    font-size: 20px;
    margin: 0;
    margin-right: 10vh;
}
  

  .textLogo {
    font-size: 7rem;
  }

  .textInfo {
    margin-bottom: 50px;
    font-size: 1rem;
  }
  
  .btn {
  width: 250px;
  height: 250px;
  padding: 0;
  margin-top: 100px;
}

}

@media (max-width: 500px) {
  .home {
    background-image: url("../public/assets/home/background-home-mobile.jpg");
  }

  .body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
  }

  .bodyContainer {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 0;
    height: 100vh;
    margin-top: 30%;
  }

  .textContainer {
    width: 80vw;
    height: fit-content;
    margin-left: 0;
    text-align: center;
    align-items: center;
  }

  .textLogo {
    font-size: 4rem;
    height: fit-content;
    margin-bottom: 0;
  }

  .textHeader{
    font-size: 1rem;
    line-height: normal;
    width: 100vh;
  }

  .textInfo {
    width: 90vw;
  }

  .btn {
    margin-top: 20vh;
    margin-right: 0;
    width: 175px;
    height: 175px;
  }
}