.infoBody, .name, .terminology, .description {
    color: white;
}

.techContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 100px;
    width: 100vw;
    height: 100vh;
}

.btnAndInfoContainer {
    max-width: 45vw;
    display: flex;
    align-items: center;
    margin-left: 8vw;
}

.btnContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btns {
    background: none;
    border-radius: 50%;
    border: 1px solid white;
    font-size: 3rem;
    color: white;
    width: 100px;
    height: 100px;
    margin: 20px 0px;
    font-weight: lighter;
}

.infoBody {
    margin-left: 5vw;
    width: 100%;
}

.terminology {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.name {
    font-weight: lighter;
    margin-bottom: 20px;
    font-size: 4em;
    width: 100%;
}
.description {
    line-height: 30px;
    font-size: 1em;
}

.imageConatiner {
    width: 60vh;
}

@media (max-width: 1500px) {
    .terminology {
        font-size: 1em;
    }
    
    .name {
        font-size: 2em;
    }

    .description {
        font-size: 1em;
    }

    .btns {
        width: 70px;
        height: 70px;
    }
}

.image {
    margin: 10px 0px;
    width: 30%;
}

@media (max-width: 500px) {
    .techContainer  {
        flex-direction: column;
        height: fit-content;
        padding:0;
        margin: 0;
        justify-content: center;
        align-items: center;
    }

    .imageConatiner {
        order: 1;
        width: 40vh;
        margin-top: 5%;
        z-index: 1;
    }

    .btnAndInfoContainer {
        flex-direction: column;
        max-width: 90%;
        margin-left: 0;
    }

    .btnContainer {
        flex-direction: row;
        margin-bottom: 15px;
        order: 2;
    }

    .btns {
        width: 50px;
        height: 50px;
        margin: 0 10px;
        font-size: 1.5rem;
    }

    .infoBody {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-left: 0;
        margin-bottom: 30px;
    }

    .description {
        max-width: 90%;
        line-height: 25px;
    }
}