.infoBody, .name, .terminology, .description {
    color: white;
}

.techContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    width: 100vw;
}

.btnAndInfoContainer {
    max-width: 45vw;
    display: flex;
    align-items: center;
    margin-left: 8vw;
}

.btnContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btns {
    background: none;
    border-radius: 50%;
    border: 1px solid white;
    font-size: 3rem;
    color: white;
    width: 70px;
    height: 70px;
    margin: 20px 0px;
    font-weight: lighter;
}

.infoBody {
    margin-left: 5vw;
    width: 100%;
}

.terminology {
    font-size: 100%;
    margin-bottom: 10px;
}

.name {
    font-weight: lighter;
    margin-bottom: 20px;
    font-size: 200%;
    width: 100%;
}
.description {
    line-height: 30px;
    font-size: 100%;
}

.image {
    margin: 10px 0px;
    width: 30%;
}