.infoBody, .name, .terminology, .description {
    color: white;
}

.techContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    width: 100vw;
}

.btnAndInfoContainer {
    max-width: 45vw;
    display: flex;
    align-items: center;
    margin-left: 8vw;
}

.btnContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btns {
    background: none;
    border-radius: 50%;
    border: 1px solid white;
    font-size: 3rem;
    color: white;
    width: 100px;
    height: 100px;
    margin: 20px 0px;
    font-weight: lighter;
}

.infoBody {
    margin-left: 5vw;
    width: 100%;
}

.terminology {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.name {
    font-weight: lighter;
    margin-bottom: 20px;
    font-size: 4em;
    width: 100%;
}
.description {
    line-height: 30px;
    font-size: 1em;
}

.imageConatiner {
    width: 60vh;
}

@media (max-width: 1500px) {
    .terminology {
        font-size: 1em;
    }
    
    .name {
        font-size: 2em;
    }

    .description {
        font-size: 1em;
    }

    .btns {
        width: 70px;
        height: 70px;
    }
}

.image {
    margin: 10px 0px;
    width: 30%;
}